// Controls resource file
//
// (c)1998-2020 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "Controls/resource.h"

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#if !defined(_XTP_NO_BINARY_RESOURCES)
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

XTP_IDC_DRAGMOVE         CURSOR  DISCARDABLE     "Controls/res/dragmove.cur"
XTP_IDC_DRAGNONE         CURSOR  DISCARDABLE     "Controls/res/dragnone.cur"
XTP_IDC_DRAGCOPY         CURSOR  DISCARDABLE     "Controls/res/dragcopy.cur"
XTP_IDC_EYEDROPPER       CURSOR  DISCARDABLE     "Controls/res/eyedropper.cur"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

XTP_IDB_BTN_OUT          BITMAP  DISCARDABLE     "Controls/res/btn_out.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// XAML
//

IDR_XAML_ICON_LIST_SYMBOL_ADD			RT_XAML		"Controls/res/xaml/list.symbol-add.xaml"
IDR_XAML_ICON_LIST_SYMBOL_ARROW_DOWN	RT_XAML		"Controls/res/xaml/list.symbol-arrow-down.xaml"
IDR_XAML_ICON_LIST_SYMBOL_ARROW_UP		RT_XAML		"Controls/res/xaml/list.symbol-arrow-up.xaml"
IDR_XAML_ICON_LIST_SYMBOL_DELETE		RT_XAML		"Controls/res/xaml/list.symbol-delete.xaml"
IDR_XAML_ICON_TASKDLG_ARROW_RIGHT		RT_XAML		"Controls/res/xaml/task.symbol-arrow-right.xaml"
IDR_XAML_ICON_FONTCOMBO_FONTS			RT_XAML		"Controls/res/xaml/fontCombo.fonts.xaml"
IDR_XAML_ICON_CHECKBOX_UNCHECKED		RT_XAML		"Controls/res/xaml/checkbox.unchecked.xaml"
IDR_XAML_ICON_CHECKBOX_CHECKED			RT_XAML		"Controls/res/xaml/checkbox.checked.xaml"
IDR_XAML_ICON_CHECKBOX_MIXED			RT_XAML		"Controls/res/xaml/checkbox.mixed.xaml"
IDR_XAML_ICON_CHECKBOX3D_UNCHECKED		RT_XAML		"Controls/res/xaml/checkbox3d.unchecked.xaml"
IDR_XAML_ICON_CHECKBOX3D_CHECKED		RT_XAML		"Controls/res/xaml/checkbox3d.checked.xaml"
IDR_XAML_ICON_CHECKBOX3D_MIXED			RT_XAML		"Controls/res/xaml/checkbox3d.mixed.xaml"
IDR_XAML_ICON_HEADERCTRL_CENTER			RT_XAML		"Controls/res/xaml/headerCtrl.paragraph-align-center.xaml"
IDR_XAML_ICON_HEADERCTRL_LEFT			RT_XAML		"Controls/res/xaml/headerCtrl.paragraph-align-left.xaml"
IDR_XAML_ICON_HEADERCTRL_RIGHT			RT_XAML		"Controls/res/xaml/headerCtrl.paragraph-align-right.xaml"
IDR_XAML_ICON_HEADERCTRL_SORTAZ			RT_XAML		"Controls/res/xaml/headerCtrl.sort-az.xaml"
IDR_XAML_ICON_HEADERCTRL_SORTZA			RT_XAML		"Controls/res/xaml/headerCtrl.sort-za.xaml"
IDR_XAML_ICON_HEXEDIT_COPY				RT_XAML		"Controls/res/xaml/hexEdit.clipboard-copy-text.xaml"
IDR_XAML_ICON_HEXEDIT_CUT				RT_XAML		"Controls/res/xaml/hexEdit.clipboard-cut.xaml"
IDR_XAML_ICON_HEXEDIT_PASTE				RT_XAML		"Controls/res/xaml/hexEdit.clipboard-paste.xaml"
IDR_XAML_ICON_HEXEDIT_UNDO				RT_XAML		"Controls/res/xaml/hexEdit.command-undo-2.xaml"
IDR_XAML_ICON_HEXEDIT_CANCEL			RT_XAML		"Controls/res/xaml/hexEdit.symbol-cancel.xaml"
IDR_XAML_ICON_OUTBAR_SMALL				RT_XAML		"Controls/res/xaml/outBar.view-small-icons.xaml"
IDR_XAML_ICON_OUTBAR_LARGE				RT_XAML		"Controls/res/xaml/outBar.view-large-icons.xaml"
IDR_XAML_ICON_CAPTION_CLOSE_1			RT_XAML		"Controls/res/xaml/caption.button.close1.xaml"
IDR_XAML_ICON_CAPTION_CLOSE_2			RT_XAML		"Controls/res/xaml/caption.button.close2.xaml"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

XTP_IDI_TASKERROR       ICON    DISCARDABLE     "Controls/res/Error.ico"
XTP_IDI_TASKINFO        ICON    DISCARDABLE     "Controls/res/Info.ico"
XTP_IDI_TASKSHIELD      ICON    DISCARDABLE     "Controls/res/Shield.ico"
XTP_IDI_TASKWARN        ICON    DISCARDABLE     "Controls/res/Warning.ico"
XTP_IDI_TASKQUESTION    ICON    DISCARDABLE     "Controls/res/Question.ico"
XTP_IDI_LIGHTBULB        PNG     DISCARDABLE     "Controls/res/LightBulb.png"
XTP_IDI_EYEDROPPER       ICON    DISCARDABLE     "Controls/res/eyedropper.ico"
XTP_IDS_ARROW			ICON	DISCARDABLE		"Controls/res/Arrow.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Toolbar
//

XTP_IDR_TBAR_HDR TOOLBAR DISCARDABLE  16, 15
BEGIN
    BUTTON      XTP_IDC_SORTASC
    BUTTON      XTP_IDC_SORTDSC
    SEPARATOR
    BUTTON      XTP_IDC_ALIGNLEFT
    BUTTON      XTP_IDC_ALIGNCENTER
    BUTTON      XTP_IDC_ALIGNRIGHT
END

XTP_IDR_TBAR_OUT TOOLBAR DISCARDABLE  16, 15
BEGIN
    BUTTON      XTP_IDC_LARGEICON
    BUTTON      XTP_IDC_SMALLICON
END

XTP_IDR_TBAR_HEXEDIT TOOLBAR DISCARDABLE  16, 15
BEGIN
    BUTTON      ID_EDIT_UNDO
    SEPARATOR
    BUTTON      ID_EDIT_CUT
    BUTTON      ID_EDIT_COPY
    BUTTON      ID_EDIT_PASTE
    SEPARATOR
    BUTTON      ID_EDIT_CLEAR
END

#endif // !defined(_XTP_NO_BINARY_RESOURCES)

