// SyntaxEdit resource file
//
// (c)1998-2020 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "SyntaxEdit/Resource.h"
#include "SyntaxEdit/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ETI)
#ifdef _WIN32
LANGUAGE LANG_ESTONIAN, SUBLANG_DEFAULT
#pragma code_page(1257)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_EDIT_PAGEEDITOR DIALOGEX DISCARDABLE  0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Editor"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Aknaseadistused",IDC_STATIC,7,7,246,76
    CONTROL         "Vertikaalne kerimisriba",XTP_IDC_EDIT_CHK_VERT_SCROLLBAR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,21,105,10
    CONTROL         "Horisontaalne kerimisriba",XTP_IDC_EDIT_CHK_HORZ_SCROLLBAR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,32,105,10
    CONTROL         "Line arv",XTP_IDC_EDIT_CHK_LINE_NUMBERS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,43,105,10
    CONTROL         "Valik margin",XTP_IDC_EDIT_CHK_SELMARGIN,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,54,105,10
    CONTROL         "Kokkupandav sõlmed",XTP_IDC_EDIT_CHK_COLLAPSIBLE_NODES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,65,105,10
    CONTROL         "Automaatne taandus",XTP_IDC_EDIT_CHK_AUTO_INDENT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,130,20,115,10
    CONTROL         "Virtual ruumi",XTP_IDC_EDIT_CHK_VIRTUAL_SPACE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,130,35,115,10
    CONTROL         "Süntaks Värvimiseks",XTP_IDC_EDIT_CHK_SYNTAX_COLOR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,50,115,10
    GROUPBOX        "Vahekaardid",IDC_STATIC,7,88,142,46
    LTEXT           "Vahekaart suurus:",IDC_STATIC,15,98,80,8
    EDITTEXT        XTP_IDC_EDIT_TABS_SIZE,85,95,46,14,ES_AUTOHSCROLL
    CONTROL         "Lisamine on eraruumides",XTP_IDC_EDIT_RAD_TABS_SPACES,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,15,110,98,10
    CONTROL         "Hoida Tabs",XTP_IDC_EDIT_RAD_TABS_TAB,"Button",
                    BS_AUTORADIOBUTTON,15,120,51,10
    GROUPBOX        "Kursoriga üle kirjutada",XTP_IDC_EDIT_GBOX_CARET,155,88,98,46,
                    WS_GROUP
    CONTROL         "Õhuke",XTP_IDC_EDIT_RAD_CARET_THIN,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,161,102,31,10
    CONTROL         "Paks",XTP_IDC_EDIT_RAD_CARET_THICK,"Button",
                    BS_AUTORADIOBUTTON,161,113,36,10
    GROUPBOX        "Salvesta Valikud",IDC_STATIC,7,138,246,34
    CONTROL         "Automaatne reload väliselt muudetud failide",
                    XTP_IDC_EDIT_CHK_AUTO_RELOAD,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,15,154,232,10
END
XTP_IDD_EDIT_PAGEFONT DIALOGEX 0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Font"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Font:",XTP_IDC_EDIT_TXT_FONTNAMES,7,7,40,9
    COMBOBOX        XTP_IDC_EDIT_COMB_NAMES,7,18,119,55,CBS_SIMPLE | 
                    CBS_AUTOHSCROLL | CBS_SORT | CBS_DISABLENOSCROLL | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Fondi stiil",XTP_IDC_EDIT_TXT_FONTSTYLES,134,7,50,9
    COMBOBOX        XTP_IDC_EDIT_COMB_STYLES,134,18,75,55,CBS_SIMPLE | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Suurus:",XTP_IDC_EDIT_TXT_FONTSIZES,217,7,30,9
    COMBOBOX        XTP_IDC_EDIT_COMB_SIZES,217,18,36,55,CBS_SIMPLE | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Tavaline tekst:",IDC_STATIC,7,68,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXT,7,78,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXT,113,78,13,12
    LTEXT           "Tavaline taust",IDC_STATIC,7,95,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACK,7,105,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACK,113,105,13,12
    LTEXT           "Valitud teksti:",IDC_STATIC,7,122,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXTSEL,7,132,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXTSEL,113,132,13,12
    LTEXT           "Valitud taust",IDC_STATIC,7,149,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACKSEL,7,159,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACKSEL,113,159,13,12
    LTEXT           "Skript:",XTP_IDC_EDIT_TXT_FONTSCRIPT,135,69,100,9
    COMBOBOX        XTP_IDC_EDIT_COMB_SCRIPT,134,78,119,115,CBS_DROPDOWNLIST | 
                    CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Proovi Tavaline / Valitud",XTP_IDC_EDIT_GRP_SAMPLE,135,128,
                    118,44,WS_GROUP
    CTEXT           "AaBbCc",XTP_IDC_EDIT_TXT_SAMPLE,143,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
    CTEXT           "XxYyZz",XTP_IDC_EDIT_TXT_SAMPLESEL,196,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
END

XTP_IDD_EDIT_PAGECOLOR DIALOGEX 0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Süntaks Color"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Faili tüüp:",XTP_IDC_EDIT_TXT_SCHEMANAMES,7,7,123,9
    LISTBOX         XTP_IDC_EDIT_LBOX_SCHEMANAMES,7,17,123,64,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Näitajad",XTP_IDC_EDIT_TXT_SCHEMAPROP,7,85,123,9
    LISTBOX         XTP_IDC_EDIT_LBOX_SCHEMAPROP,7,95,123,77,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Tavaline tekst:",IDC_STATIC,135,7,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXT,135,17,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXT,238,17,13,12
    LTEXT           "Tavaline taust",IDC_STATIC,135,33,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACK,135,43,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACK,238,43,13,12
    LTEXT           "Valitud teksti:",IDC_STATIC,135,59,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXTSEL,135,69,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXTSEL,238,69,13,12
    LTEXT           "Valitud taust",IDC_STATIC,135,85,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACKSEL,135,95,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACKSEL,238,95,13,12
    CONTROL         "Vaprad",XTP_IDC_EDIT_CHK_BOLD,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,135,114,30,10
    CONTROL         "Kursiiv",XTP_IDC_EDIT_CHK_ITALIC,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,170,114,31,10
    CONTROL         "Allajoonimine",XTP_IDC_EDIT_CHK_UNDERLINE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,206,114,46,10
    GROUPBOX        "Proovi Tavaline / Valitud",XTP_IDC_EDIT_GRP_SAMPLE,135,128,
                    118,44,WS_GROUP
    CTEXT           "AaBbCc",XTP_IDC_EDIT_TXT_SAMPLE,143,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
    CTEXT           "XxYyZz",XTP_IDC_EDIT_TXT_SAMPLESEL,196,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
END

XTP_IDD_EDIT_SEARCH_FIND DIALOGEX DISCARDABLE  0, 0, 281, 82
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Leidma"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Leia Milline",IDC_STATIC,7,9,43,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_FIND,51,6,154,153,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Valikud",IDC_STATIC,7,30,113,45 
    CONTROL         "Sobita ainult terve sõna",XTP_IDC_EDIT_CHK_MATCH_WHOLE_WORD,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,43,100,10
    CONTROL         "Erista suurtähti",XTP_IDC_EDIT_CHK_MATCH_CASE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,58,100,10
    GROUPBOX        "Suund",IDC_STATIC,126,30,80,45
    CONTROL         "Otsi üles",XTP_IDC_EDIT_RADIO_UP,"Button",
                    BS_AUTORADIOBUTTON,134,43,65,10
    CONTROL         "Otsi alla",XTP_IDC_EDIT_RADIO_DOWN,"Button",
                    BS_AUTORADIOBUTTON,134,58,65,10
    PUSHBUTTON      "Leia järgmine",XTP_IDC_EDIT_BTN_FIND_NEXT,214,7,60,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Lähedane",IDCANCEL,214,26,60,14, WS_TABSTOP
END

XTP_IDD_EDIT_SEARCH_REPLACE DIALOGEX DISCARDABLE  0, 0, 281, 86
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Leia Vahetage"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Leia Tekst",IDC_STATIC,7,9,50,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_FIND,61,6,143,154,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Asendamiseks",IDC_STATIC,7,25,50,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_REPLACE,61,23,143,135,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Valikud",IDC_STATIC,7,38,113,41
    CONTROL         "Sobita ainult terve sõna",XTP_IDC_EDIT_CHK_MATCH_WHOLE_WORD,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,51,100,10
    CONTROL         "Erista suurtähti",XTP_IDC_EDIT_CHK_MATCH_CASE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,64,100,10
    GROUPBOX        "Suund",IDC_STATIC,126,38,80,41
    CONTROL         "Otsi üles",XTP_IDC_EDIT_RADIO_UP,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP,134,51,65,10
    CONTROL         "Otsi alla",XTP_IDC_EDIT_RADIO_DOWN,"Button",
                    BS_AUTORADIOBUTTON,134,64,65,10
    PUSHBUTTON      "Leia järgmine",XTP_IDC_EDIT_BTN_FIND_NEXT,214,7,60,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Vahetage",XTP_IDC_EDIT_BTN_REPLACE,214,23,60,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Asenda kõik",XTP_IDC_EDIT_BTN_REPLACE_ALL,214,39,60,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Lähedane",IDCANCEL,214,65,60,14, WS_TABSTOP
END

XTP_IDD_EDIT_GOTOLINE DIALOGEX DISCARDABLE  0, 0, 165, 55
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Mine Line"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Line number:",XTP_IDC_EDIT_TXT_LINENO,5,5,155,8
    EDITTEXT        XTP_IDC_EDIT_LINENO,5,17,155,14,ES_AUTOHSCROLL | 
                    ES_NUMBER
    PUSHBUTTON      "Mine",XTP_IDC_EDIT_BTN_GOTO,56,36,50,14
    PUSHBUTTON      "Tühista",IDCANCEL,110,36,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_UNDEFINED     "Määramata käsk"
    XTP_IDS_EDIT_MULTIPLE      "Mitu toimingud"
    XTP_IDS_EDIT_DELETE        "Kustutama"
    XTP_IDS_EDIT_INSERT        "Sisesta"
    XTP_IDS_EDIT_TYPING        "Kirjutades"
    XTP_IDS_EDIT_PASTE         "Kleebi"
    XTP_IDS_EDIT_MOVE          "To move the"
    XTP_IDS_EDIT_COPY          "Kopeeri"
    XTP_IDS_EDIT_INDENTATION   "Taandus"
    XTP_IDS_EDIT_INDENT_DECREASE "Vähenda taanet"
    XTP_IDS_EDIT_FORMAT        "Formaat"
    XTP_IDS_EDIT_TABIFY        "teha tab"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_UNTABIFY      "kustutada tab"
    XTP_IDS_EDIT_REPLACE_ALL   "Vahetage kõik"
    XTP_IDS_EDIT_CASE          "Muuda valiku täheregistrit"
    XTP_IDS_EDIT_DELETE_TEXT_BLOCK "Kustuta tekstikuvakkeeksi"
    XTP_IDS_EDIT_MOVE_HERE     "Liiguta siia"
    XTP_IDS_EDIT_COPY_HERE     "Kopeeri siia"
    XTP_IDS_EDIT_CANCEL        "Tühista"
    XTP_IDS_EDIT_MSG_WARN_RELOAD 
                            "Faili '%s' on modifitseeritud väljaspool allikas! \nKas soovite uuesti?"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_CUSTOM        "Custom"
    XTP_IDS_EDIT_REGULAR       "Regulaarne"
    XTP_IDS_EDIT_BOLD          "Vaprad"
    XTP_IDS_EDIT_ITALIC        "Kursiiv"
    XTP_IDS_EDIT_BOLDITALIC    "Poolpaksus kursiivkirjas"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDD_EDIT_OPTIONS       "Redigeeri võimalusi"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_MSG_FREPLACED "%d vaste leitud ning asendada!"
    XTP_IDS_EDIT_MSG_FSEARCH   "Otsimise lõpetanud!"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_LINENO        "Rea number (1 - %d):"
    XTP_IDS_EDIT_OPENSCHEMACMD "Avatud skeemi fail"
    XTP_IDS_EDIT_OPENSCHEMAMSG "Kas soovite selle suvandid dialoogiboksi sulgemine ja avamine skeemifaili '%s%s' punktis redaktoriaknas?"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ETI)
