// SyntaxEdit resource file
//
// (c)1998-2020 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "SyntaxEdit/Resource.h"
#include "SyntaxEdit/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_UKR)
#ifdef _WIN32
LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
#pragma code_page(1251)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_EDIT_PAGEEDITOR DIALOGEX DISCARDABLE  0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Редактор"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Налаштування вікна",IDC_STATIC,7,7,246,63
    CONTROL         "Вертикальна смуга прокрутки",XTP_IDC_EDIT_CHK_VERT_SCROLLBAR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,19,110,10
    CONTROL         "Горизонтальна смуга прокрутки",XTP_IDC_EDIT_CHK_HORZ_SCROLLBAR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,31,120,10
    CONTROL         "Номери рядків",XTP_IDC_EDIT_CHK_LINE_NUMBERS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,43,105,10
    CONTROL         "Поле міток",XTP_IDC_EDIT_CHK_SELMARGIN,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,55,105,10
    CONTROL         "Мітки згортання",XTP_IDC_EDIT_CHK_COLLAPSIBLE_NODES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,140,55,105,10
    CONTROL         "Авто відступ",XTP_IDC_EDIT_CHK_AUTO_INDENT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,140,19,80,10
    CONTROL         "Віртуальний простір",XTP_IDC_EDIT_CHK_VIRTUAL_SPACE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,140,31,80,10
    CONTROL         "Розфарбовування синтаксису",XTP_IDC_EDIT_CHK_SYNTAX_COLOR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,140,43,110,10
    GROUPBOX        "Табуляції",IDC_STATIC,7,74,110,57
    LTEXT           "Розмір табуляції:",IDC_STATIC,15,88,70,8
    EDITTEXT        XTP_IDC_EDIT_TABS_SIZE,75,85,26,14,ES_AUTOHSCROLL
    CONTROL         "Вставка пробілів",XTP_IDC_EDIT_RAD_TABS_SPACES,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,15,102,68,10
    CONTROL         "Залишити табуляції",XTP_IDC_EDIT_RAD_TABS_TAB,"Button",
                    BS_AUTORADIOBUTTON,15,115,78,10
    GROUPBOX        "Курсор що перезаписує",XTP_IDC_EDIT_GBOX_CARET,125,74,128,57,
                    WS_GROUP
    CONTROL         "Тонкий",XTP_IDC_EDIT_RAD_CARET_THIN,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,140,87,35,10
    CONTROL         "Товстий",XTP_IDC_EDIT_RAD_CARET_THICK,"Button",
                    BS_AUTORADIOBUTTON,140,100,45,10
    GROUPBOX        "Налаштування збереження",IDC_STATIC,7,135,246,37
    CONTROL         "Автоматичне перезавантаження файлів, які змінені зовні",
                    XTP_IDC_EDIT_CHK_AUTO_RELOAD,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,15,151,232,10
END
XTP_IDD_EDIT_PAGEFONT DIALOGEX 0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Шрифти"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Шрифт:",XTP_IDC_EDIT_TXT_FONTNAMES,7,7,40,9
    COMBOBOX        XTP_IDC_EDIT_COMB_NAMES,7,18,119,55,CBS_SIMPLE | 
                    CBS_AUTOHSCROLL | CBS_SORT | CBS_DISABLENOSCROLL | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Стиль шрифту:",XTP_IDC_EDIT_TXT_FONTSTYLES,134,7,65,9
    COMBOBOX        XTP_IDC_EDIT_COMB_STYLES,134,18,75,55,CBS_SIMPLE | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Розмір:",XTP_IDC_EDIT_TXT_FONTSIZES,217,7,30,9
    COMBOBOX        XTP_IDC_EDIT_COMB_SIZES,217,18,36,55,CBS_SIMPLE | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Звичайний текст:",IDC_STATIC,7,68,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXT,7,78,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXT,113,78,13,12
    LTEXT           "Звичайний фон:",IDC_STATIC,7,95,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACK,7,105,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACK,113,105,13,12
    LTEXT           "Виділений текст:",IDC_STATIC,7,122,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXTSEL,7,132,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXTSEL,113,132,13,12
    LTEXT           "Обраний фон:",IDC_STATIC,7,149,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACKSEL,7,159,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACKSEL,113,159,13,12
    LTEXT           "Почерк:",XTP_IDC_EDIT_TXT_FONTSCRIPT,135,69,100,9
    COMBOBOX        XTP_IDC_EDIT_COMB_SCRIPT,134,78,119,115,CBS_DROPDOWNLIST | 
                    CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Приклад: звичайний/виділений",XTP_IDC_EDIT_GRP_SAMPLE,135,128,
                    118,44,WS_GROUP
    CTEXT           "АаБбВв",XTP_IDC_EDIT_TXT_SAMPLE,143,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
    CTEXT           "ЬьЮюЯя",XTP_IDC_EDIT_TXT_SAMPLESEL,196,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
END

XTP_IDD_EDIT_PAGECOLOR DIALOGEX 0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Кольори синтаксису"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Тип файлу:",XTP_IDC_EDIT_TXT_SCHEMANAMES,7,7,123,9
    LISTBOX         XTP_IDC_EDIT_LBOX_SCHEMANAMES,7,17,123,64,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Атрибути:",XTP_IDC_EDIT_TXT_SCHEMAPROP,7,85,123,9
    LISTBOX         XTP_IDC_EDIT_LBOX_SCHEMAPROP,7,95,123,77,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Звичайний текст:",IDC_STATIC,135,7,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXT,135,17,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXT,238,17,13,12
    LTEXT           "Звичайний фон:",IDC_STATIC,135,33,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACK,135,43,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACK,238,43,13,12
    LTEXT           "Виділений текст:",IDC_STATIC,135,59,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXTSEL,135,69,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXTSEL,238,69,13,12
    LTEXT           "Виділений фон:",IDC_STATIC,135,85,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACKSEL,135,95,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACKSEL,238,95,13,12
    CONTROL         "Жирний",XTP_IDC_EDIT_CHK_BOLD,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,135,114,30,10
    CONTROL         "Курсив",XTP_IDC_EDIT_CHK_ITALIC,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,170,114,31,10
    CONTROL         "Підкреслення",XTP_IDC_EDIT_CHK_UNDERLINE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,206,114,46,10
    GROUPBOX        "Приклад: звичайний/виділений",XTP_IDC_EDIT_GRP_SAMPLE,135,128,
                    118,44,WS_GROUP
    CTEXT           "AaBbCc",XTP_IDC_EDIT_TXT_SAMPLE,143,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
    CTEXT           "XxYyZz",XTP_IDC_EDIT_TXT_SAMPLESEL,196,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
END

XTP_IDD_EDIT_SEARCH_FIND DIALOGEX DISCARDABLE  0, 0, 271, 82
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Пошук"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Знайти Що",IDC_STATIC,7,9,43,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_FIND,51,6,154,153,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Параметри",IDC_STATIC,7,30,113,45 
    CONTROL         "Тільки ціле слово",XTP_IDC_EDIT_CHK_MATCH_WHOLE_WORD,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,43,100,10
    CONTROL         "Враховувати регістр",XTP_IDC_EDIT_CHK_MATCH_CASE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,58,100,10
    GROUPBOX        "Напрямок",IDC_STATIC,126,30,80,45
    CONTROL         "Пошук вгору",XTP_IDC_EDIT_RADIO_UP,"Button",
                    BS_AUTORADIOBUTTON,134,43,65,10
    CONTROL         "Пошук Вниз",XTP_IDC_EDIT_RADIO_DOWN,"Button",
                    BS_AUTORADIOBUTTON,134,58,65,10
    PUSHBUTTON      "Шукати",XTP_IDC_EDIT_BTN_FIND_NEXT,210,7,58,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Закрити",IDCANCEL,210,26,58,14, WS_TABSTOP
END

XTP_IDD_EDIT_SEARCH_REPLACE DIALOGEX DISCARDABLE  0, 0, 271, 86
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Пошук та заміна"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Знайти текст",IDC_STATIC,7,9,50,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_FIND,61,6,143,154,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Замінити",IDC_STATIC,7,25,50,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_REPLACE,61,23,143,135,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Параметри",IDC_STATIC,7,38,113,41
    CONTROL         "Тільки ціле слово",XTP_IDC_EDIT_CHK_MATCH_WHOLE_WORD,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,51,100,10
    CONTROL         "Враховувати регістр",XTP_IDC_EDIT_CHK_MATCH_CASE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,64,100,10
    GROUPBOX        "Напрямок",IDC_STATIC,126,38,80,41
    CONTROL         "Пошук вгору",XTP_IDC_EDIT_RADIO_UP,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP,134,51,65,10
    CONTROL         "Пошук Вниз",XTP_IDC_EDIT_RADIO_DOWN,"Button",
                    BS_AUTORADIOBUTTON,134,64,65,10
    PUSHBUTTON      "Шу&кати",XTP_IDC_EDIT_BTN_FIND_NEXT,210,7,58,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "За&мінити",XTP_IDC_EDIT_BTN_REPLACE,210,23,58,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Замінити &всі",XTP_IDC_EDIT_BTN_REPLACE_ALL,210,39,58,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Закрити",IDCANCEL,210,65,58,14, WS_TABSTOP
END

XTP_IDD_EDIT_GOTOLINE DIALOGEX DISCARDABLE  0, 0, 165, 55
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Перейти до рядка"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Номер рядка:",XTP_IDC_EDIT_TXT_LINENO,5,5,155,8
    EDITTEXT        XTP_IDC_EDIT_LINENO,5,17,155,14,ES_AUTOHSCROLL | 
                    ES_NUMBER
    PUSHBUTTON      "Перейти",XTP_IDC_EDIT_BTN_GOTO,56,36,50,14
    PUSHBUTTON      "Скасувати",IDCANCEL,110,36,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_UNDEFINED     "Невизначена команда"
    XTP_IDS_EDIT_MULTIPLE      "Множинні операції"
    XTP_IDS_EDIT_DELETE        "Видалити: "
    XTP_IDS_EDIT_INSERT        "Вставити: "
    XTP_IDS_EDIT_TYPING        "Введення"
    XTP_IDS_EDIT_PASTE         "Вставляння"
    XTP_IDS_EDIT_MOVE          "Переміщення"
    XTP_IDS_EDIT_COPY          "Копіювання"
    XTP_IDS_EDIT_INDENTATION   "Відступ"
    XTP_IDS_EDIT_INDENT_DECREASE "Зменшити відступ"
    XTP_IDS_EDIT_FORMAT        "Формат"
    XTP_IDS_EDIT_TABIFY        "Зробити табуляції"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_UNTABIFY      "Видалити табуляції"
    XTP_IDS_EDIT_REPLACE_ALL   "Замінити всі"
    XTP_IDS_EDIT_CASE          "Змінити регістр виділення"
    XTP_IDS_EDIT_DELETE_TEXT_BLOCK "Видалити текстовий блок"
    XTP_IDS_EDIT_MOVE_HERE     "Перемістити сюди"
    XTP_IDS_EDIT_COPY_HERE     "Скопіюйте Тут"
    XTP_IDS_EDIT_CANCEL        "Скасувати"
    XTP_IDS_EDIT_MSG_WARN_RELOAD 
                            "Файл ""%s"" було змінено ззовні! \nВи бажаєте його перезавантажити?"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_CUSTOM        "Налаштований"
    XTP_IDS_EDIT_REGULAR       "Регулярний"
    XTP_IDS_EDIT_BOLD          "Жирний"
    XTP_IDS_EDIT_ITALIC        "Курсив"
    XTP_IDS_EDIT_BOLDITALIC    "Жирний Курсив"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDD_EDIT_OPTIONS       "Змінити параметри"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_MSG_FREPLACED "%d входжень знайдено і замінено!"
    XTP_IDS_EDIT_MSG_FSEARCH   "Пошук завершено!"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_LINENO        "Номер рядка (1 - %d)"
    XTP_IDS_EDIT_OPENSCHEMACMD "Відкрити Файл схеми"
    XTP_IDS_EDIT_OPENSCHEMAMSG "Ви бажаєте закрити діалогове вікно 'Параметри' і відкрийти файл схеми '%s%s' у вікні редактора?"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_UKR)
